<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean class="de.bsi.bean.service.ItemServiceImpl">
		<constructor-arg ref="itemStore_3"/>
	</bean>
	
	<bean class="de.bsi.bean.service.InMemoryItemStore"
			name="itemStore_3" 
			init-method="initStore" destroy-method="cleanStore"/>
	
	<bean class="de.bsi.bean.component.IdGenerator" />
	
</beans>